## 5.12 List

In [1]:
buah = ['alpukat', 'pisang', 'apel', 'srikaya']
print(buah)

['alpukat', 'pisang', 'apel', 'srikaya']

In [2]:
print(buah[0])

alpukat

In [3]:
print(buah[-1])

srikaya

In [4]:
buah[0] = 'salak'
print(buah)

['salak', 'pisang', 'apel', 'srikaya']

In [5]:
print(buah[0:3])

['salak', 'pisang', 'apel']

In [6]:
#tidak merubah list
print(buah)

['salak', 'pisang', 'apel', 'srikaya']

## 5.13 Metoda List

In [7]:
nama = ['Sinta', 'Taehyung', 'Yoongi']
nama.append('Jimin')
print(nama)

['Sinta', 'Taehyung', 'Yoongi', 'Jimin']

In [8]:
nama.insert(0,'Jungkook')
print(nama)

['Jungkook', 'Sinta', 'Taehyung', 'Yoongi', 'Jimin']

In [9]:
nama.remove('Jimin')
print(nama)

['Jungkook', 'Sinta', 'Taehyung', 'Yoongi']

In [10]:
print('Jimin' in nama)
print('Sinta' in nama)
print(len(nama))

False
True
4

## 5.14 For Loop

In [11]:
buah = ['apel', 'jeruk', 'mangga', 'pisang']
for jenis in buah:
    print(jenis)

apel
jeruk
mangga
pisang

In [12]:
p = 0
while  p < len(buah):
    print(buah[p])
    p+=1

apel
jeruk
mangga
pisang

## 5.15 Fungsi range

In [13]:
angka = range(8)
print(angka)

range(0, 8)

In [14]:
for isi in angka:
    print(isi)

0
1
2
3
4
5
6
7

In [15]:
for isi in range(7,10):
    print(isi)

7
8
9

In [16]:
for isi in range(0,8,2):
    print(isi)

0
2
4
6

### Latihan
### 1. Buatlah program untuk mencari nilai terbesar dalam suatu list

In [17]:
data = [1,2,3,4,5,6,7,8,7,6,5,4,3,2,1]
terbesar = data[0]
for i in range(len(data)):
    if data[i] > terbesar:
        terbesar = data[i]
print(terbesar)

8

In [18]:
data = [1,2,3,4,5,6,7,8,7,6,5,4,3,2,1]
terbesar = data[0]
for angka in data:
    if angka > terbesar:
        terbesar = angka
print(terbesar)

8

### 2. Buatlah program untuk membuat anggota list menjadi unik dengan kata lain tidak ada anggota list yang kembar

In [19]:
angka = [1,2,3,4,5,6,4,5,8,9,3,4,7,2]
angka_unik = []
for anggota in angka:
    if anggota not in angka_unik:
        angka_unik.append(anggota)
print(angka_unik)

[1, 2, 3, 4, 5, 6, 8, 9, 7]

## 5.16 List 2 Dimensi

In [69]:
matriks = [
    [1,2,3,4,],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
]
print(matriks)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [70]:
matriks[1]

[5, 6, 7, 8]

In [71]:
matriks[1][3]

8

In [72]:
matriks[1][3]=100
print(matriks[1][3])

100

In [73]:
for baris in matriks:
    print(baris)
    for kolom in baris:
        print(kolom)

[1, 2, 3, 4]
1
2
3
4
[5, 6, 7, 100]
5
6
7
100
[9, 10, 11, 12]
9
10
11
12
[13, 14, 15, 16]
13
14
15
16

In [74]:
matriks

[[1, 2, 3, 4], [5, 6, 7, 100], [9, 10, 11, 12], [13, 14, 15, 16]]

## 5.17 Tuples

In [3]:
angka = (0,1,2,3,4,5,6,7)

In [9]:
print(angka[0])
print(angka[0:5])

0
(0, 1, 2, 3, 4)

In [5]:
for isi in angka[0:3]:
    print(isi)

0
1
2

In [ ]:
angka[0] = 10

In [ ]:
angka.append(10)

In [ ]:
angka.remove(4)

In [10]:
angka.count(1)

1

In [11]:
angka.index(3)

3

## 5.18 Dictionaries

In [41]:
data_orang = {
    "nama lengkap" : "Ni Made Sinta Lestari",
    "usia" : 19,
    "apakah_single" : False
}

In [42]:
print(data_orang['nama lengkap'])

Ni Made Sinta Lestari

In [ ]:
print(data_orang['Nama Lengkap'])

In [44]:
print(data_orang.get('tanggal_lahir'))

None

In [45]:
print(data_orang.get('tanggal_lahir', '07-04-2003'))

07-04-2003

### Latihan : Buatlah program untuk merubah nomor HP yang tadinya berupa angka menjadi sebutan bilangan tersebut

In [46]:
angka = {
    "0" : "nol",
    "1" : "satu",
    "2" : "dua",
    "3" : "tiga",
    "4" : "empat",
    "5" : "lima",
    "6" : "enam",
    "7" : "tujuh",
    "8" : "delapan",
    "9" : "sembilan"
}

In [47]:
nomor_HP = input("Nomor HP anda :  ")
nomor_angka = ""
for isi in nomor_HP:
    nomor_angka += angka.get(isi) + " "
print(nomor_angka)

Nomor HP anda :  087841271245
nol delapan tujuh delapan empat satu dua tujuh satu dua empat lima

## 5.19 Fungsi

In [67]:
def full_name (first_name,last_name):
    print (f"Nama lengkapmu adalah {first_name} {last_name}")

In [68]:
first_name = input("Nama depanmu adalah ")
last_name = input("Nama belakangmu adalah ")
full_name (first_name, last_name)

Nama depanmu adalah Ni Made
Nama belakangmu adalah Sinta Lestari
Nama lengkapmu adalah Ni Made Sinta Lestari

### 5.19.1 Tugas Fungsi pada Phyton

In [52]:
def waktu_sampai(jarak,kecepatan):
    waktu = jarak/kecepatan
    print(waktu)

In [53]:
def waktu_tempuh(jarak,kecepatan):
    waktu = jarak/kecepatan
    return waktu

In [54]:
waktu_sampai(70,50)

1.4

In [55]:
waktu_tempuh(70,50)

1.4

In [56]:
a = waktu_sampai(70,50)
print(a)

1.4
None

In [57]:
b = waktu_tempuh(70,50)
print(b)

1.4