# 5.1 Print

In [44]:
print('Saat ini sedang berlangsung kelas Algoritma. ')

Saat ini sedang berlangsung kelas Algoritma.

In [5]:
print("Saat ini sedang berlangsung kelas Algoritma")

Saat ini sedang berlangsung kelas Algoritma

In [6]:
print("I don't know what are you talking about")

I don't know what are you talking about

In [7]:
print('She is such an "AWESOME"')

She is such an "AWESOME"

In [8]:
jumlah_mahasiswa = 42
jumlah_uang_di_dompet = 30000
print(jumlah_mahasiswa)
print(jumlah_uang_di_dompet)
print(jumlah_mahasiswa*jumlah_uang_di_dompet)

42
30000
1260000

In [9]:
nama_depan = 'Sinta'
nama_tengah = ' '
nama_belakang = "Lestari"
print(nama_depan + nama_tengah + nama_belakang)

Sinta Lestari

# 5.2 Input

In [10]:
nama = input("Siapakah nama anda? ")
kegiatan = input('Apakah kegiatan anda sekarang, ' + nama +"? ")
print("Semangat "+ kegiatan +" nya yaaa, " + nama + "!")

Siapakah nama anda? Sinta
Apakah kegiatan anda sekarang, Sinta? mengerjakan tugas algoritma
Semangat mengerjakan tugas algoritma nya yaaa, Sinta!

# 5.3 Tipe Data

In [11]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di Bank? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("Total uang anda adalah Rp "+ str(total_uang))

Berapakah jumlah uang di dompet anda? 150000
Berapakah jumlah uang anda di Bank? 1750000
Total uang anda adalah Rp 1900000

In [12]:
bilangan_pertama = input("Masukkan bilangan pertama: ")
bilangan_kedua = input("Masukkan bilangan kedua: ")
jumlah = float(bilangan_pertama) + float(bilangan_kedua)
print("Jumlah kedua bilangan adalah " + str(jumlah))

Masukkan bilangan pertama: 3
Masukkan bilangan kedua: 7
Jumlah kedua bilangan adalah 10.0

# 5.4 Formatted String

In [13]:
nama = "Taehyung"
pekerjaan = 'penyanyi'
agensi = 'Big Hit Music'
print(nama + ' adalah seorang ' + pekerjaan + ' dari ' + agensi +'.')

Taehyung adalah seorang penyanyi dari Big Hit Music.

In [14]:
print(f'{nama} adalah seorang {pekerjaan} dari {agensi}.')

Taehyung adalah seorang penyanyi dari Big Hit Music.

# 5.5 String Index

In [15]:
kelas = 'Sekarang Kelas Algoritma'

In [16]:
print(kelas[0:8])

Sekarang

In [17]:
print(kelas[0:-1])

Sekarang Kelas Algoritm

In [18]:
print(kelas[10:-1])

elas Algoritm

In [19]:
print(kelas[2:-1:3])

ka l gi

In [20]:
print(kelas[:-1])

Sekarang Kelas Algoritm

In [21]:
print(kelas[1:])

ekarang Kelas Algoritma

In [22]:
print(kelas[:])

Sekarang Kelas Algoritma

# 5.6 String Methods

In [23]:
judul = 'Aku Pasti Gagal'

In [24]:
print(len(judul))

15

In [25]:
judul.upper()

'AKU PASTI GAGAL'

In [26]:
judul.lower()

'aku pasti gagal'

In [27]:
judul.find('Pasti')

4

In [28]:
judul.replace('Gagal', 'Bisa')

'Aku Pasti Bisa'

In [29]:
print('Aku' in judul)

True

In [30]:
print('aku' in judul)

False

# 5.7 Operasi Matematika

In [31]:
print(7+2)
print(7-2)
print(7*2)
print(7/2)
print(7//2)
print(7**2)
x=3
x=1
print(x)
x-=2
print(x)
x*=3
print(x)

9
5
14
3.5
3
49
1
-1
-3

# 5.8 Operator Perbandingan

In [32]:
x = 7>4
print(x)
x = 4<7
print(x)
x = 7 >= 4
print(x)
x = 4 <= 7
print(x)
x = 7 == 7
print(x)
x = 7 != 8
print(x)

True
True
True
True
True
True

In [33]:
x = 7>4
print(x)
x = 4<7
print(x)
x = 7 >= 4
print(x)
x = 4 <= 7
print(x)
x = 7 == 8
print(x)
x = 7 != 7
print(x)

True
True
True
True
False
False

# 5.9 Operasi Logika

In [34]:
buah_apel = 12
buah_mangga = 18
print(buah_apel > 10 and buah_mangga < 20)

True

In [35]:
print(buah_apel < 10 or buah_mangga < 20)

True

In [36]:
print(buah_apel < 10 or buah_mangga > 20)

False

In [37]:
print(not (buah_apel < 10 or buah_mangga > 20))

True

# 5.10 Operasi if

In [39]:
nilai = float(input("Nilaimu adalah "))
if nilai >= 80:
    print("Kamu mendapatkan nilai A")
    print("Bagus sekali, selamat ya!")
if nilai < 80 and nilai >= 70:
    print("Kamu mendapatkan nilai B")
    print("Berusahalah untuk meningkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Kamu mendapatkan nilai C")
    print("Lain kali harus bisa lebih baik")
if nilai >= 50 and nilai < 60:
    print("Kamu mendapatkan dengan nilai D")
    print("Silahkan ulang lagi tahun depan")
if nilai < 50:
    print("Kamu mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilaimu adalah 54
Kamu mendapatkan dengan nilai D
Silahkan ulang lagi tahun depan

In [40]:
tinggi = float(input("Berapakah tinggi badanmu? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi badanmu adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi badanmu adalah {tinggi} cm")

Berapakah tinggi badanmu? 152
Tingginya dalam cm atau inci? cm
Tinggi badanmu adalah 59.842552000000005 inci

# 5.11 While loop

In [41]:
a = 0
while a < 7:
    print("Angka " + str(a)+" masih di bawah 7")
    a += 1

Angka 0 masih di bawah 7
Angka 1 masih di bawah 7
Angka 2 masih di bawah 7
Angka 3 masih di bawah 7
Angka 4 masih di bawah 7
Angka 5 masih di bawah 7
Angka 6 masih di bawah 7

In [42]:
a = 0
while a < 7:
    print(a * '*')
    a += 1

*
**
***
****
*****
******